# Lecture 3: Structured Data Types

In this lecture, we will start working with more complex data types, instead of just ints, bools, and floats.

## Topics
* Strings
* Tuples
* Lists
* Sets
* Dictionaries

### Reading
* Section 2.4 of Guttag
* Chapter 5 of Guttag
* Chapter 4 of Learning Python, Lutz

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
x_as_int = int(x)
print(type(x_as_int))
print(x_as_int)

<class 'int'>
1

In [ ]:
b = False
print(float(b))

0.0

## Strings

The `str` data type is used to represent "strings" of characters. Basically, words, sentences, messages, etc. The sequence of characters enclosed in single or double quotes is called the <b> literal string </b>. The string object is the actual object of type `str` that gets created. For example:

In [ ]:
"hello world"

'hello world'

In [ ]:
msg = "this is a new string... "
type(msg)

str

* The <b>string literal </b> is "this is a new string... "
    * This tells Python to create a new object of tye `str`.
    * The new `str` object is built from this string literal.
* The <b>string object</b> is the `msg` variable that is now holding the literal string.
    * This is an object of type `str`. It's <emph>value</emph> is"this is a new string... "

### Printing Strings
We've already seen how to print strings (or string literals)

In [ ]:
print(msg)
print("Printing out a literal string")

this is a new string...
Printing out a literal string

In [ ]:
print("here's a string with a few newlines\n\n\n\n\t\t\tand continuing with the same string literal")

here's a string with a few newlines



			and continuing with the same string literal

### Combining strings
Concatenating strings can be done using the `+` operator

In [ ]:
"a" + "b" + "c " + msg

'abc this is a new string... '

A string can also be repeated by using the `*` operator:

In [ ]:
"0" * 100

'0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'

In [ ]:
msg * 2

'this is a new string... this is a new string... '

In [ ]:
repeated_msg = msg * 5
print(repeated_msg)
type(repeated_msg)

this is a new string... this is a new string... this is a new string... this is a new string... this is a new string...

str

### Length of a string
Easy, just use the built-in <b>len()</b> function

<b>len()</b> will return the number of characters in a `str`

In [ ]:
len(msg)

24

In [ ]:
len(repeated_msg)

120

In [ ]:
str.capitalize?

In [ ]:
str.capitalize(msg)

'This is a new string... '

In [ ]:
msg.capitalize()

'This is a new string... '

In [ ]:
len(msg)
print(msg)

this is a new string...

### Indexing strings
The characters in the string `s` are numbered from 0 up to `len(s) - 1` and can be indexed using `[]`.

* `s[idx]` will return the string at index idx starting from the first index
* `s[-idx]` will return the string at index idx from the end.
* `s[start:stop]` returns the string starting at `start` and up to `stop - 1`
* `s[start:stop:step]` returns the string starting at `start` and up to `stop - 1`, going every `step` indeces

In [ ]:
print(msg)

this is a new string...

In [ ]:
print(msg[0])

t

In [ ]:
print(msg[100])

IndexError: string index out of range

In [ ]:
print(msg[-5])

g

In [ ]:
x = 'abcdefghijklmnopqrstuvwxyz'
x[5:9]

'fghi'

In [ ]:
# start from begininng and go up to the end, every fourth index:

x[0:-1:4]

'aeimquy'

In [ ]:
# start from the end, go up to the very beginning, every 3rd index
x[-1:0:-3]

'zwtqnkheb'

### Casting to and from str

In [ ]:
# Number to string
x = 10.4324
print(type(x))
x_as_a_str = str(x)
print(type(x_as_a_str))

<class 'float'>
<class 'str'>

In [ ]:
x

10.4324

In [ ]:
x_as_a_str

'10.4324'

In [ ]:
print(x_as_a_str)

10.4324

In [ ]:
tmp = 'hello'

In [ ]:
str.isnumeric(tmp)

False

In [ ]:
tmp.isnumeric()

False

In [ ]:
# str back to an int
s = '1023'
if str.isnumeric(s):
    x = int(s)
    print(type(x))
    print(x)

str.isnumeric?

A string is numeric if all characters in the string are numeric and there is at
least one character in the string.
 --> this will only work for ints!

In [ ]:
# str back to a number
s = '3.14'

x = float(s)
print(type(x))
print(x)

<class 'float'>
3.14

For floats, one solution would be to us a try...catch (we'll get into this later)


### Strings are immutable
In Python, strings are <b>immutable</b> objects.

In [ ]:
msg = "hello world"
msg = "a new string"
print(msg)

a new string

In [ ]:
s = "Tomorrow is a new day."

TypeError: 'str' object does not support item assignment

In [ ]:
s = "Tomorrow is a new day."
s = " "*9 + s[9:-1]
print(s)

         is a new day

but what about when we do something like:

In [ ]:
s1 = "abc"
s2 = "123"
print(s1)
print(s2)

abc
123

In [ ]:
print(s1 + s2)

abc123

In [ ]:
s1 = s1 + s2

print(s1)

abc123

s1 is a variable that holds the literal string "abc". s1 gets reassigned to the new string that is holding the concatenation of s1 and s2. the strin "abc" was never changed.

## Useful string methods

See * https://docs.python.org/3/library/string.html

Here are some useful methods for working with strings:

    * capitalize() 	First letter upper case
    * count()	Returns the number of times a specified value occurs in a string
    * find()	Searches the string for a specified value and returns the position of where it was found
    * index()	Searches the string for a specified value and returns the position of where it was found
    * islower()	Returns True if all characters in the string are lower case
    * isnumeric()	Returns True if all characters in the string are numeric
    * isupper()	Returns True if all characters in the string are upper case
    * join()	Converts the elements of an iterable into a string
    * replace()	Returns a string where a specified value is replaced with a specified value
    * split()	Splits the string at the specified separator, and returns a list
    * strip()	Returns a trimmed version of the string
    * swapcase()	Swaps cases, lower case becomes upper case and vice versa
    * title()	Converts the first character of each word to upper case
    * upper()	Converts a string into upper case

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str.swapcase?

In [ ]:
s1 = "abcDeFgHiJk LmNoP"
s1.swapcase()

'ABCdEfGhIjK lMnOp'

In [ ]:
str.swapcase(s1)

'ABCdEfGhIjK lMnOp'

In [ ]:
s2 = "    abcd.        "
print(s2)
s2 = s2.strip()
print(s2)

    abcd.
abcd.

In [ ]:
s3 = "Tomorrow is a new day"
s3.find("day")

18

In [ ]:
s3 = "Tomorrow is a new day"
s3.title()

'Tomorrow Is A New Day'

### Strings are iterables
An <b> iterable </b> is an object in Python that can be enumerated and easily looped through. Strings are iterables which means we can loop through all elements in a string using a for loop with the following syntax:

In [ ]:
s3 = "Tomorrow is a new day"

for any_name in s3:
    print(any_name)

T
o
m
o
r
r
o
w

i
s

a

n
e
w

d
a
y

In [ ]:
# here's another way to iterate through an iterable using enumerate
for idx, cc in enumerate(s3):
    print(idx, cc)

0 T
1 o
2 m
3 o
4 r
5 r
6 o
7 w
8
9 i
10 s
11
12 a
13
14 n
15 e
16 w
17
18 d
19 a
20 y

### Exercise with String

Write code that asks the user to enter their birthday in the form mmddyyyy, and then prints a string of the form ‘You were born in the year yyyy.’

In [ ]:
user_input = input("Enter your birthday in the form mmddyyyy")

Enter your birthday in the form mmddyyyy01012022

In [ ]:
m = "You were born in the year " + user_input[-4:] + "."
print(m)

You were born in the year 2022.

## Tuples
Tuples are another immutable data type that hold a sequence of elements that can be of any type. These elements are ordered but the elements can be of differing types.

Tuples are enclosed in `()` and elements are seperated by a comma:

In [ ]:
t = (1, 2, 3)
type(t)

tuple

In [ ]:
str.title?

In [ ]:
t = (1, 2, 3, 3, 0.231, "abc", str.title)

In [ ]:
print(t)

(1, 2, 3, 3, 0.231, 'abc', <method 'title' of 'str' objects>)

the above is kind of odd, but it's just to demonstrate that you can even include a method like str.title in a tuple

In [ ]:
# empty tuple
t1 = ()
print(type(t1))

<class 'tuple'>

In [ ]:
x = (1,)
print(type(x))

<class 'tuple'>

In [ ]:
# tuple of 1 element
t1 = ("1")
print(type(t1)) # not a tuple!

t1 = ("1", )
print(type(t1))

<class 'str'>
<class 'tuple'>

In [ ]:
# tuple of 5 numbers
t = (1, 2, 3, 4, 5)

# length of the tuple
print(len(t))

5

In [ ]:
print(t)

(1, 2, 3, 4, 5)

### concatenating tuples

In [ ]:
# let's make a nested tuple
t1 = (1, 'two', 3)

# t1 is the first element of the new tuple
t2 = (t1, 3.25)

In [ ]:
print(t1)
print(t2)
print(t2[0])

(1, 'two', 3)
((1, 'two', 3), 3.25)
(1, 'two', 3)

In [ ]:
t2[0][0]

1

In [ ]:
print((t1 + t2))

(1, 'two', 3, (1, 'two', 3), 3.25)

In [ ]:
print((t1 + t2)[3])

(1, 'two', 3)

In [ ]:
print((t1 + t2)[2:5])

(3, (1, 'two', 3), 3.25)

Tuples are also iterable

In [ ]:
### Iterating over elements of a tuple
print("my tuple is:", t1)
print("element wise:")
for tt in t1:
    print("\t",tt)

my tuple is: (1, 'two', 3)
element wise:
	 1
	 two
	 3

### Adding to a tuple

In [ ]:
tnew = ()
t1 = (1,)
tnew = tnew + (100,) # have to include the comma here... why?
tnew = tnew + (1, 2, 3, 4)
tnew = tnew + t1
print(tnew)

(100, 1, 2, 3, 4, 1)

In [ ]:
### Check if something is in a tuple
t = (1, 2, "three", "four", "abc", 1234)

if 1 in t:
    print("1 is in t!")

if "1234" in t:
    print("the string 1234 is in t")

elif 1234 in t:
    print("1234 (the int) is in t")

1 is in t!
1234 (the int) is in t

### Exercise with Tuples

Starting with two tuples, create a third tuple that contains everything in them without any duplicates

In [ ]:
t1 = (1, "abc", "def")
t2 = (0, 1, "abc", -5, 3.14)

t_cat = ()

for e in t1:
    if not e in t_cat:
        t_cat = t_cat + (e, )

for e in t2:
    if not e in t_cat:
        t_cat = t_cat + (e, )

print(t_cat)

(1, 'abc', 'def', 0, -5, 3.14)

## Lists
Lists are another ordered and iterable data type that represent a sequence of objects. Lists, unlike tuples and strings, are mutable. Lists can be empty (`[]`) or can contain any number of elements of different types. You can also create lists of lists.

In [ ]:
my_list = []
type(my_list)

list

In [ ]:
my_list = [1, 2, 3, 4, 5.0]
print(my_list)

[1, 2, 3, 4, 5.0]

In [ ]:
for e in my_list:
    print(e)

1
2
3
4
5.0

In [ ]:
for idx, e in enumerate(my_list):
    print("m_list[%d] = %.2f" %(idx, e))

m_list[0] = 1.00
m_list[1] = 2.00
m_list[2] = 3.00
m_list[3] = 4.00
m_list[4] = 5.00

In [ ]:
# List of various types
l1 = ['abc', 'def', '123', 0, 1]
print(len(l1))

5

In [ ]:
# Here's a trick to convert a list of string objects to a single string
l2 = ["a", "b", "c", "d", "e", "f"]
"".join(l2)

'abcdef'

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
list.append?

In [ ]:
# add to a list
l1 = [1, 2, 3]
l2 = l1 + [5, 6, 7] # will create a new list

print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3, 5, 6, 7]

In [ ]:
l2 = [100, 200, 300]
l1.append(l2) # will modify l1 and not return anything
print(l1)

[1, 2, 3, [100, 200, 300]]

In [ ]:
l1.append(l2)
print(l1)

[1, 2, 3, [100, 200, 300], [100, 200, 300]]

In [ ]:
#[1, 2, 3, 100, 200, 300]
l1 = [1, 2, 3]
l2 = [100, 200, 300]

for elem in l2:
    l1.append(elem)

print(l1)

[1, 2, 3, 100, 200, 300]

In [ ]:
l1[2:4] = [0, 0]
print(l1)

[1, 2, 0, 0, 200, 300]

In [ ]:
# change an entry in an list
l1[-1] = -999
print(l1)

[1, 2, 0, 0, 200, -999]

In [ ]:
l1

[1, 2, 0, 0, 200, -999]

### More list methods

    *append()	Adds an element at the end of the list
    *clear()	Removes all the elements from the list
        *copy()	Returns a copy of the list
    *count()	Returns the number of elements with the specified value
    *extend()	Add the elements of a list (or any iterable), to the end of the current list
    *index()	Returns the index of the first element with the specified value
    *insert()	Adds an element at the specified position
    *pop()	Removes the element at the specified position
    *remove()	Removes the first item with the specified value
    *reverse()	Reverses the order of the list


See also:
* https://docs.python.org/3/tutorial/datastructures.html
* https://www.w3schools.com/python/python_ref_list.asp

## Lists and Mutability

the <b>id</b> function will return the identity of an object == > this is unique to its location in memory

In [ ]:
Techs = ['MIT', 'Caltech']
Ivys = ['Harvard', 'Yale', 'Brown']

Univs = [Techs, Ivys]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

In [ ]:
print('Univs =', Univs)
print('Univs1 =', Univs1)

Univs = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

In [ ]:
print('Ids of Univs[0] and Univs[1]', id(Univs[0]), id(Univs[1]))
print('Ids of Univs1[0] and Univs1[1]', id(Univs1[0]), id(Univs1[1]))

Ids of Univs[0] and Univs[1] 140694021722624 140694024079232
Ids of Univs1[0] and Univs1[1] 140694023920448 140694024031488

In [ ]:
# The values of Univs and Univs1 are the same *right now*
print(Univs == Univs1)

True

In [ ]:
# but they are stored in different memory location
print(id(Univs) == id(Univs1))

False

In [ ]:
print(Univs)
Techs.append('RPI')
print(Univs)

[['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
[['MIT', 'Caltech', 'RPI'], ['Harvard', 'Yale', 'Brown']]

In [ ]:
# Univs[0] has been updated
print(Techs)

['MIT', 'Caltech', 'RPI']

In [ ]:
# The values of Univs and Univs1 are no longer the same
print(Univs == Univs1)

False

In [ ]:

# but they are stored in different memory location
print(id(Univs) == id(Univs1))

False

### Another example:

In [ ]:
L1 = [[]] * 2
print(L1)

[[], []]

In [ ]:
L2 = [[], []]

In [ ]:
print(L1)
print(L2)

[[], []]
[[], []]

This looks like two ways to create a list of 2 lists.

Even though the two L1 and L2 look exactly the same:
* The first assignment statement creates a list with two elements, each of which is the same object.
* The second assignment statement creates a list with two different objects, each of which is initially equal to a separate empty list.

In [ ]:
print(len(L1))
print(len(L2))

2
2

In [ ]:
for i in range(len(L1)):
    L1[i].append(i)
    L2[i].append(i)
print('L1 =', L1, 'but', 'L2 =', L2)

L1 = [[0, 1], [0, 1]] but L2 = [[0], [1]]

In [ ]:
L2[0].append(10)
print(L2)

[[0, 10], [1]]

In [ ]:
L2[1].append(90)
print(L2)

[[0, 10], [1, 90]]

### Exercise with Lists
Assume you have a list of numbers list1. Create a new list of only unique entries in list1 called list2.

In [ ]:
list1 = [1, 2, 0, 0, 0, 1, 2, 2, 3, 5, -2, -2, 0, 9, 1]
list2 = []

for elem in list1:
    if not elem in list2:
        list2.append(elem)

In [ ]:
print(list2)

[1, 2, 0, 3, 5, -2, 9]

## Sets
Sets are yet another kind of collection type. They are similar to the notion of a set in mathematics in that they are unordered collections of unique elements.

Sets are denoted with `{ }` and elements are separated with a comma.

* set.add() to add an element
* set.remove() to remove anelement
* len() to get the number of <b> unique</b> elements in the set.

based on the add() and remove() functions you can probably guess that sets are <b>mutable </b> .

In [ ]:
s1 = {1, 2, 2}
print(len(s1))

2

In [ ]:
s1.add(10)
s1

{1, 2, 10}

In [ ]:
s1.remove(1)
print(s1)

{2, 10}

In [1]:
l1 = [1,2,3]
set(l1)

{1, 2, 3}

In [ ]:
2 in s1

True

Notice that sets cannot contain duplicates. An element is either in a set or it is not. It's index in the set and how many times it is added to the set do not matter

In [ ]:
s1.add(100)
print(s1)

s1.add('abc')
s1.add('abc')
s1.add('abc')
s1.add('abc')
print(s1)

{2, 10, 100}
{2, 100, 'abc', 10}

In [ ]:
s1.remove(100)
print(s1)

{2, 'abc', 10}

Set operations can also be performed:
* union() the union of two sets
* difference() performs set difference
* intersection() performs set intersection
* issubset() true if a set is a subset of another

you can also use this syntax:

* `|` for union
* `&` for intersect
* `-` for difference
* `<=` for subset
* `>=` for superset.

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 4, 6 , 8, 2, 3}

set2.intersection(set1)

{1, 2, 3}

In [ ]:
set1.union(set2)

{1, 2, 3, 4, 6, 8}

In [ ]:
set1.issubset(set2)

True

In [ ]:
set2.issubset(s1)

In [ ]:
set.issubset(set2, set1)

False

In [ ]:
set1 | set2

{1, 2, 3, 4, 6, 8}

In [ ]:
set1 >= set2

False

In [ ]:
set1 <= set2

True

## Dictionaries

Objects of type `dict` are a way to store key and value pairs together. They are similar to lists, however instead of indexing from 0 to `len(list) - 1` we index using the keys.
* Dictionaries are mutable.
* Dictionaries are iterable.
Dictionaries are incredibly useful and can make a ton of programs easier to write.

The syntax to create a literal is `{key1: value1, key2: value2, ...}`:

In [ ]:
month_numbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
              1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}

# this is a dictionary of 10 key-value pairs
print(len(month_numbers))

10

In [ ]:
# the key "Jan" will index the value 1
# The key 1 will index the value "Jan"

month_numbers["Mar"]

3

In [ ]:
month_numbers["Jan"]

1

In [ ]:
print(month_numbers)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}

In [ ]:
print('The third month is ' + month_numbers[3])

The third month is Mar

In [ ]:
dist = month_numbers['Apr'] - month_numbers['Jan']

In [ ]:
print('Apr and Jan are', dist, 'months apart')

Apr and Jan are 3 months apart

In [ ]:
# Add a new key-value pair
month_numbers["Jun"] = 6

In [ ]:
month_numbers

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 'Jun': 6}

In [ ]:
month_numbers[6] = "Jun"

In [ ]:
month_numbers[6]

'Jun'

In [ ]:
"Jun" in month_numbers

True

In [ ]:
month_numbers.values()

dict_values([1, 2, 3, 4, 5, 'Jan', 'Feb', 'Mar', 'Apr', 'May', 6, 'Jun'])

Some useful dict methods
* dict.keys() will return a list of dictionary keys
* dict.values() will return a list of dictionary values

In [ ]:
capitals = {'France': 'Paris', 'Italy': 'Rome', 'Japan': 'Kyoto'}

for k in capitals:
    print('The capital of', k, 'is', capitals[k])

The capital of France is Paris
The capital of Italy is Rome
The capital of Japan is Kyoto

In [ ]:
# iterate throught all the values
for val in capitals.values():
    print(val)

Paris
Rome
Kyoto

In [ ]:
# replace a value
capitals["France"] = "Nice"

In [ ]:
capitals["France"]

'Nice'

In [ ]:
capitals["France"] = "Paris"
capitals

{'France': 'Paris', 'Italy': 'Rome', 'Japan': 'Kyoto'}

In [ ]:
"Paris" in capitals

False

In [ ]:
"France" in capitals

True

In [ ]:
"Paris" in capitals.values()

True

In [ ]:
# remove a value
del capitals["Italy"]
print(capitals)

{'France': 'Paris', 'Japan': 'Kyoto'}

### Dictionaries exercise

Let's revisit our list

`list1 = [1, 2, 0, 0, 0, 1, 2, 2, 3, 5, -2, -2, 0, 9, 1]`


Create a dictionary that counts the occurance of each number in the list.

In [ ]:
list1 = [1, 2, 0, 0, 0, 1, 2, 2, 3, 5, -2, -2, 0, 9, 1]
counts = {}

# go through each element in list1, check if that element is in the dictionary
# if it is in the dictionary, increase its value
# if it wasn't in the dictionary already, add it to the dictionary
# and set its value to be 1
for elem in list1:
    if elem in counts:
        counts[elem] = counts[elem] + 1
    else:
        # if this is the firt time we see this number
        counts[elem] = 1

print(counts)

{1: 3, 2: 3, 0: 4, 3: 1, 5: 1, -2: 2, 9: 1}

## Dictionaries vs Lists
<b> Lists </b>
* An ordered sequence of elements
* Are mutable
* Elements are indexed by an integer

<b> Dictionaries </b>
* An unordered set of key,value pairs
* Are mutable
* Values are indexed by the key

# Comprehension

In Python, one way iterate through objects such as lists, dictionaries, and sets is to use <b> comprehension</b>. This is a handy short-hand for writing `for` loops.

## List comprehension examples
Here is an example with lists. Suppose we want to square every element in a list $x$.

Here is a way to do this with a `for` loop:
* Create a new list $y$.
* Loop through all the elements in $x$.
* Square each element and append it to $y$.

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
y = []
for idx in range(len(x)):
    y.append(x[idx] ** 2)
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Here is a way to do it using a single line of code:

In [ ]:
y = [xx ** 2 for xx in x]

In [ ]:
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Here is another example: suppose we have two lists that are the same length and we want to create a new third list that is the sum of the first two.

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# this won't work ...
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

One way to do this using loops:
* Suppse $L$ is the length of the lists, $a$ and $b$.
* Create a new empty list $c$.
* Iterate through index idx 0 up to $L - 1$.
* Append the number $a[idx] + b[idx]$ to the new list $c$.

In code:

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

c = []
for idx in range(len(a)):
    c.append(a[idx] + b[idx])
print(c)

[7, 9, 11, 13, 15]

Using list comprehension, this can be done in a single line

In [ ]:
c = [(aa + bb) for aa, bb in zip(a, b)]

In [ ]:
c

[7, 9, 11, 13, 15]

Here, we used the <b>`zip()`</b> function to indicate that we want to go through all items of $a$ and  $b$ at the same time i.e.
* First set $aa = a[0]$ and $bb = b[0]$.
* Calculate the sum, and this is the value of $c[0]$.
* Then, set $aa = a[1]$ and $bb = b[1]$.
* Calculate the sum, and this is the value of $c[1]$.
* Repeat for all items in $a$ and $b$.

Note that your results may not be what you expect when $a$ and $b$ are different lengths.

In [ ]:
a = [1, 2, 3]
b = [2, 3]
c = [(aa + bb) for aa, bb in zip(a, b)]
c

Another example:

The following will create a list y that has the product of all numbers from 0 to 4 and 0 to 1:

```python
y = []
for i in range(5):
    for j in range(2): y.append(i + j)
print(y)
 ```

3 lines of code

In [ ]:
y = []
for i in range(5):
    for j in range(2): y.append(i * j)
print(y)

[0, 0, 0, 1, 0, 2, 0, 3, 0, 4]

Let's replace this with a single line of code:

In [ ]:
y = [(ii * jj) for ii in range(5) for jj in range(2)]
print(y)

Let's say we want to do the same thing as a nested list

In [ ]:
y = [[(ii * jj) for ii in range(5)] for jj in range(2)]
print(y)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4]]

## Set comprehension examples
You can use a similar syntax for set comprehension

In [ ]:
# Create a new set that is the square of every element in s
s = {1, 2, 3}

squared = {aa * 2 for aa in s}
print(squared)

{2, 4, 6}

In [ ]:
# Create a new set containing the type of every element in s

s = {1, "abc", 3.14}

stype = {type(ss) for ss in s}

stype

{float, int, str}

## Dictionary comprehension example

Example: Suppose we want to create a new dictionary in which the value on our `capitals` dictionary is replaced with an uppercase version of each city name.

Using loops:

In [ ]:
capitals = {'France': 'Paris', 'Italy': 'Rome', 'Japan': 'Kyoto'}

capitals2 = dict()
for k in capitals:
    capitals2[k] = capitals[k].upper()

In [ ]:
capitals2

{'France': 'PARIS', 'Italy': 'ROME', 'Japan': 'KYOTO'}

Using dictionary comprehension

In [ ]:
# Single line of code, no loops

capitals3 = {key:val.upper() for (key, val) in capitals.items()}

In [ ]:
capitals3

{'France': 'PARIS', 'Italy': 'ROME', 'Japan': 'KYOTO'}